PORT= # Server listening port
MONGO_URL= # Address of database
JWT_SECRET=
FRONTEND_DOMAIN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_PORT=
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
